{% liquid 
    assign custom_font = block.settings.font
    assign font_size = block.settings.font_size | abs | append: 'px'
    assign color = block.settings.color
    assign text_alignment = block.settings.text_alignment
    assign font_size_mob = block.settings.font_size_mob | abs | append: 'px'
    assign text_alignment_mob = block.settings.text_alignment_mob
%}

{% comment %} Load Font {% endcomment %}
{% unless block.settings.text_variant.css_class and custom_font.system? == true %}
    <style>
        {{ custom_font | font_face: font_display: 'swap' }} 
    </style>
{% endunless %}

{% comment %} Cleaning up custom class to not interfere with heading variant {% endcomment %}
{%  liquid 
    assign custom_class = block.settings.custom_class
%}

{% style %}
  .--pl--text-{{ block.id }} {
      text-align: {{ text_alignment }};
      {% if color.alpha > 0.0 %};
        color: {{ color }} !important;
      {% endif %}
      {% unless block.settings.text_variant.css_class %}
        font-size: {{ font_size }};
        font-family: '{{ custom_font.family | remove: '"' }}', {{ custom_font.fallback_families }}; 
        font-weight: {{ custom_font.weight }}; 
        font-style: {{ custom_font.style }}; 
        line-height: normal;
      {% endunless %}
  }

  @media screen and (max-width: 768px) {
    .--pl--text-{{ block.id }} {
      text-align: {{ text_alignment_mob }};
      {% unless block.settings.text_variant.css_class %}
        font-size: {{ font_size_mob }};
      {% endunless %}
    }
  }
{% endstyle %}



<div
  class="--pl--base-text {{ custom_class }} {{ block.settings.text_variant.css_class }} --pl--text-{{ block.id }}"
  {{ block.shopify_attributes }}
>
  {{ block.settings.text | default: block.settings.placeholder_text }}
</div>

{% schema %}
{
  "name": "Text",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "Customize the text to your liking. Need help? Check our [documentation](https://www.pentlibrary.com/docs)."
    },
    {
        "type": "header",
        "content": "Desktop"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>"
    },
    {
      "type": "metaobject",
      "id": "text_variant",
      "label": "Variant",
      "metaobject_type": "app--154529792001--text_styles_pl_editor",
      "info": "Overrides 'Font' and 'Font Size'"
    },
    {
      "type": "header",
      "content": "Font"
    },
    {
      "type": "font_picker",
      "id": "font",
      "label": "Font",
      "default": "inter_n4"
    },
    {
      "type": "number",
      "id": "font_size",
      "label": "Font Size",
      "placeholder": "Enter a value in pixels",
      "default": 16
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "Align",
      "default": "left"
    },
    {
        "type": "header",
        "content": "📱 Mobile",
        "info": "These settings only apply to mobile devices."
    },
    {
      "type": "header",
      "content": "📱 Style"
    },
    {
      "type": "number",
      "id": "font_size_mob",
      "label": "Font Size",
      "placeholder": "Enter a value in pixels",
      "default": 16
    },
    {
      "type": "text_alignment",
      "id": "text_alignment_mob",
      "label": "Align",
      "default": "left"
    },
    {
      "type": "header",
      "content": "⚙️ Advanced"
    },
    {
      "type": "text",
      "id": "placeholder_text",
      "label": "Placeholder"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Class",
      "info": "For developers: Add space-separated CSS classes. See our [docs](https://www.pentlibrary.com/docs) for available classes."
    },
    {
      "type": "paragraph",
      "content": "text block (v.1.0.0)"
    }
  ],
  "presets": [
    {
      "name": "Text (PL)"
    },
    {
        "name": "Tagline (PL)",
        "settings": {
            "text": "<p>Tagline</p>",
            "font_size": 16,
            "font": "inter_n6"
        }
    }
  ]
}
{% endschema %}
